@import "tailwindcss";

/* ===== Global Thin Scrollbar ===== */

/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #9ca3af transparent; /* thumb | track */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 4px;      /* vertical scrollbar */
  height: 4px;     /* horizontal scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}
